#notepreview {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #ffca45;
}
#notepreview .notepreview-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 3rem;
  line-height: 3rem;
  background: #ecf0f1;
}
#notepreview .notepreview-header .back-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-left: 0.5rem;
  border-radius: 50%;
}
#notepreview .notepreview-header p {
  flex: 1;
  text-align: center;
}
#notepreview .notepreview-header .edit-note {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem;
}
#notepreview .notepreview-content {
  flex: 1;
  margin: 1rem;
  overflow: hidden;
}
#notepreview .notepreview-content p {
  width: 105%;
  padding-right: 5%;
  line-height: 2;
  overflow-y: scroll;
  word-break: break-all;
}
