@white: #ffffff;
@login-blue: #006699;
@background-black: black;
#loginwrapper {
    width: 100%;
    height: 100%;
    background: @background-black;
    h1 {
        color: red;
    }
    .login-content {
        width: 26rem;
        margin: 0 auto;
        margin-top: 16rem;
    }
    .input-style {
        width: 100%;
        height: 100%;
        line-height: 100%;
        color: @white;
        outline: none;
        padding-left: 0.5rem;
        border: none;
        background-color: transparent;
    }
    .login-line {
        width: 24rem;
        height: 3rem;
        line-height: 3rem;
        margin: 1rem auto;
    }
    .login-input-outer {
        border-bottom: 1px solid @white;
    }
    .login-tips {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        span {
            padding-left: 0.5rem;
            padding-right: 0.5rem;
            color: @white;
            font-size: 0.8rem;
        }
    }
    .btn {
        width: 22rem;
        height: 3rem;
        border-radius: 0.3rem;
        line-height: 3rem;
        text-align: center;
    }
    .btn-login {
        margin: 0 auto;
        background: @login-blue;
        color: @white;
    }
}