@appname: #0fe2b8;
@searcherIcon: #2ecc71;
@indexcontent: #ffca45;
@addNewNote: url('../../assets/add.png') no-repeat center center,
rgba(46,
204,
113,
0.6);
#index {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    .index-header {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        height: 3rem;
        background: #ecf0f1;
        .app-name {
            line-height: 2rem;
            height: 2rem;
            margin-left: 0.5rem;
            color: @appname;
        }
        .searcher-icon {
            width: 2rem;
            height: 2rem;
            margin-right: 0.5rem;
            background: @searcherIcon;
        }
    }
    .index-main {
        display: flex;
        flex: 1;
        width: 105%;
        background: @indexcontent;
        overflow-y: scroll;
        padding-right: 4%;
        ul {
            width: 100%;
            margin-left: 0.5rem;
            margin-right: 0.5rem;
            li {
                display: flex;
                flex-direction: row;
                width: 100%;
                height: 4rem;
                line-height: 4rem;
                border-bottom: 1px solid #dcdcdc;
                font-size: 1.5rem;
                .note-tittle {
                    flex: 1;
                    margin-left: 0.5rem;
                }
                .modify-time {
                    margin-right: 0.5rem;
                    font-size: 0.8rem;
                    color: gray;
                }
            }
        }
    }
    .add-new-note {
        position: fixed;
        left: 50%;
        bottom: 1rem;
        width: 6rem;
        height: 6rem;
        margin-left: -3rem;
        border-radius: 50%;
        background: @addNewNote;
    }
}